<!DOCTYPE html>
<html lang="es">
<head>
    <title>Performance Evaluations - Cambio de Contraseña</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="application-name" content="Performance Evaluations" lang="es">
    <meta name="description" content="Aplicacion Web para Medir el Desempeño y Clima Organizacional del Programa de Ingenieria de Sistemas de la Universidad Francisco de Paula Santander - Cúcuta, Norte de Santander"/>
    <meta name="Author" content="GIDIS"  lang="es">
    <meta name="Contributors" content="Lizeth Rios Epalza - Eismar Johann Paredes Peña" lang="es">
    <meta name="Aditional-Contributors" content="Derly Zuley Angel Medina - José David Castro García" lang="es">
    <meta name="keywords" content="evaluacion, director, pares, docente, ingenieria, de sistemas, ufps, universidad, francisco, de paula, santander, cucuta, norte de santander, colombia"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- Favicon -->
    <link rel='Shortcut icon' type="image/x-icon" href="../../assets/icons/favicon.ico">
    <!-- Web Fonts css-->
    <link rel="stylesheet" type="text/css" href="../../assets/css/login.css">
    <!-- Font Awesome v5.0.13 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <!-- Google fonts = Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Bootstrap css v4.1.1 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
</head>
<body>
<!--Contenido-->
    <div class="password-box">
        <p class="password-box-msg">Ingresa tu nueva contraseña para restablecer tu acceso al sistema</p>
        <!--Formulario de Change-->
        <form id="change-form" action="include.php" method="post" autocomplete="off">
            <fieldset>
                <div class="row align-items-center no-gutters">
                    <div class="form-group has-feedback" style="height: 38px">
                        <div class="cua-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="height: 38px"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="text" class="form-control" name="newPassword" placeholder="Nueva contraseña" maxlength="50" value required="required">
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="row align-items-center no-gutters">
                    <div class="form-group has-feedback" style="height: 38px">
                        <div class="cua-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="height: 38px"><i class="fas fa-check-square"></i></span>
                            </div>
                            <input type="text" class="form-control" name="confirmPassword" placeholder="Confirmar contraseña" maxlength="50" value required="required">
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="col-xs-12 center-block" style="padding-top: 10px">
                <input type="hidden" name="solicitud" value="change">
                <button type="submit" class="btn btn-danger btn-block btn-flat" value required= "required">Enviar</button>
            </div>
        </form>
    </div>
    <!-- Jquery v3.3.1 -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Ajax v1.14.3-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <!-- Bootstrap js v4.1.1 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>