body{
	margin: 0;
	padding: 0;
	background: url(../../assets/imgs/fondoLogin.jpg) no-repeat fixed;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}
.form-control{
	padding: 5px 16px;
}
.login-box{
	width: 350px;
	height: 390px;
	background-color: white;
	top: 20%;
	right: 37%;
	position: absolute;
	box-sizing: border-box;
	padding: 70px 30px;
}
.login-box-msg{
	margin: 0;
	padding: 60px 0 0 0;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
.bannerImg{
	width: 350px;
	height: 100px;
	position: absolute;
	top: 10px;
	right: 0px;
	background: #d95340;
}
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
.login-box p{
	margin: 0;
	padding-bottom: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-align: center;
	color: #666;
}
.cua-group {
	width: 290px;
	right: 30px;
	display: flex;
}
.cua-group-icon {
	right: 39px;
	display: flow-root;
	padding: .375rem .75rem;
	color: #495057;
	background-color: #e9ecef;
	border: 1px solid #ced4da;
}
.login-box input{
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
}
.login-box a{
	text-decoration: none;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
.login-box button {
	font-family: 'Roboto', sans-serif;
}
.pie-t{
	color: #fff;
	padding: 0;
	position: absolute;
	top: 97%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
}
.recuperar-t{
	color: #a94442;
	text-align: center;
	margin: 0px;
	padding: 15px;
}

.modal-dialog{
	width: 400px;
}

.modal-dialog p{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 0px;

}
.modal-dialog input {
	width: 100%;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
}
.modal-dialog button {
	font-family: 'Roboto', sans-serif;
}
.password-box{
	width: 350px;
	background-color: white;
	top: 20%;
	right: 37%;
	position: absolute;
	box-sizing: border-box;
	padding: 40px 30px;
}
.password-box-msg{
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.password-box p{
    margin: 0;
    padding-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #666;
}
.password-box input{
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}
.password-box a{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.password-box button {
    font-family: 'Roboto', sans-serif;
}